@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
}

 a{
    text-decoration: none;
}
h1 ,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
img{
    width: 100%;
}

.navbar{
    background-color: #124;
    height:70px;
	font-family:sans-serif,'lato';
	color:#fff;
}
.navbar .flex{
    justify-content: space-between;
}
.navbar a{
    padding:6px;
    margin: 0 5px ;
}
.navbar .logo a{
    font-size: 35px;
    color: #fff;
    margin: auto 40px;
    display: flex;
    align-items: center;
}
.list-n{
    display: flex;
}
.list-n a{
    color: white;
    padding-bottom: 13px;
 
}
.list-n a:active{
    font-weight: bold;
}
.list-n a:hover{
   cursor: pointer;
   border-bottom: 2px solid white;
}
.list-n li{
    margin-top: 13px;
  padding: 10px;
    align-items: center;
}

/* section 1 */

.showcase{
    
    background-color: #124;
    color: white;
    position: relative;
}
.showcase-text{
    margin: 20px;
}
.showcase h1{
    margin: 20px 20px;
    font-size: 40px;
    font-weight: 100px;
	font-family:'lato',sans-serif;
}
.showcase p{
	max-width:600px;
    margin: 30px 20px;
}
.request{
    position: relative;
    box-shadow: 3px 3px 15px black;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    margin: 10px;
    justify-self: flex-end;
    background-color: white;
    color: #333;
    border: 0;
    border-radius: 5px;
}

.request .control{
    margin: 30px 0px;
}

.control input[type="text"] ,
.control input[type="email"]{
   border: 0;
   border-bottom: 1px solid black;
   width: 100%;
   padding: 3px;
   font-size: 16px;
}

.control input:focus{
    outline: none;
}

.showcase::before,
.showcase:after{
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.stats{
    padding-top: 120px;
}
 
.stats-heading{
    text-align: center;
    padding: 0px 20px;
    margin: auto;
}
.stats .grid-3{
    margin: 50px auto;
    text-align: center;
}
.stats .grid-3 p{
    font-size: 20px;
    font-weight: bold;
} 

.cli .grid{
    margin: 30px auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.cli .grid img{
    grid-column: 1/ span 2 ;
    grid-row: 1 / span 2;
}
.cloud{
    background-color: #124;
    text-align: center;
}
.cloud img{
    transform: scale(0.8);
}
.cloud.grid{
    grid-template-columns: repeat(4,3fr);
}

.lg{
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    font-size: 40px;
}
.lead{
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}

/* languages */

.languages .flex{
     flex-wrap: wrap; 
}
.languages h2{
    text-align: center;
}
.languages .card {
    text-align:center;
    width: 128px;
    transition: 0.4s;
}
.languages .card:hover{
    transform:translateY(-20px);
}
.languages .card h4{
    font-size: 17px;
    margin-bottom: 15px;
}

/* footer */

.footer{
    height: 150px;
    background-color: #124;
    color: #fff;
    padding: 20px;
    bottom: 0;
}
.footer .container{
    align-items: center;
}
.footer li a{
    color: white;
    font-size: 15px;
}

.social a{
    color: white;
    margin: 10px;
}
.social a .fa-github:hover {
    color: rgba(138, 136, 137, 0.511);
    
}
.social a .fa-facebook:hover {
    color: rgb(51, 96, 186);
    
}
.social a .fa-instagram:hover {
    color: rgb(234, 45, 83);
}
.social a .fa-twitter:hover {
    color: rgba(6, 200, 249, 0.511);
    
}

/* features */
.features-head{
    background-color: #124;
    color: #fff;
    grid-template-columns: repeat(2,1fr);
}
.features-head img{
   width: 200px;
   justify-self: flex-end;
   margin-bottom: 20px;
}
.features-head h1 ,
.features-sub-head h1{
    margin: 20px 40px;
    font-size: 40px;
    font-weight: 100px;
	font-family:'lato',sans-serif;
    font-weight: bold;
    
}
.features-head p ,
.features-sub-head p{
    margin: 30px 40px;
    font-size: 20px;
    font-weight: 100px;
	font-family:'lato',sans-serif;
}
.features-sub-head{
    background-color: rgba(210, 210, 212, 0.478);
    color: #333131;
    grid-template-columns: repeat(2,1fr);
}
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
 }
 .features-main{
    margin: 50px auto;
}

.features-main .card p{
    padding: 0px 20px;
}
 .features-main .card:nth-of-type(1){
    grid-column: 1/4;
} 
 .features-main .card:nth-of-type(2){
    grid-column: 1/3;
} 
 
 /* doc */
.docs-head{
    background-color: #124;
    grid-template-columns: repeat(2,1fr);
    color: white;
}
.docs-head img{
    width: 200px;
    justify-self: flex-end;
    margin-bottom: 20px;
 }
 .docs-head h1 {
     margin: 20px 40px;
     font-size: 40px;
     font-weight: 100px;
     font-family:'lato',sans-serif;
     font-weight: bold;
     
 }
 .docs-head p{
     margin: 30px 40px;
     font-size: 20px;
     font-weight: 100px;
     font-family:'lato',sans-serif;
 }

 /* docs-main */
.docs-main .grid{
    grid-template-columns: 1fr 3fr;
    align-items: start;
}
.docs-main .card:nth-child(1){
    background-color: rgba(228, 225, 225, 0.318);
    padding-top: 50px;
    padding-right: 26px;
}


.docs-main li a{
    color: black;
    opacity: 60%;
}
.docs-main nav li{
    padding-bottom: 5px;
    margin-bottom: 11px;
    border-bottom: 1px solid rgba(154, 154, 154, 0.499);
}
.docs-main nav ul{
    padding: 20px 0px;
}
.docs-main li a:active{
    font-weight: bold;
    opacity: 1;
}
.docs-main .card p{
    opacity: 80%;
    font-size: 15px;
    font-family: Times, 'Times New Roman', serif;
    padding: 20px 0px;
}
.alert{
    background-color: rgba(36, 226, 36, 0.697);
    color: white;
    font-size: 18px;
    padding: 8px;
    margin: 13px auto;
}
.windows{
    opacity: 80%;
    font-size: 15px;
    font-family: Times, 'Times New Roman', serif;
    padding: 20px 0px;
}
.docs-main pre{
    background-color: rgba(0, 0, 0, 0.814);
    color: white;
    padding: 9px 20px;
}

/* tablet */
@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid{
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important;
    }

    .showcase{
        height: auto;
        padding-top: 20px;
        text-align: center;
    }
    .request{
        justify-self: center;
    }
    .cli .grid{
        grid-column: 1;
        grid-row: 1;
    }
    .cloud img{
        transform: scale(0.6);
    }
    .footer{
        background-color: #124;
        height: 300px;
        text-align: center;
    }
    .features-head,
    .features-sub-head,
    .docs-head{
        text-align: center;
    }
    .features-head .grid img,
    .features-sub-head .grid img,
    .docs-head .grid img {
        justify-self: center;
    }
    .features-main .grid .card:nth-of-type(1),
    .features-main .grid .card:nth-of-type(2){
        grid-column: 1;
    }
    .docs-main{
        margin: 25px;
    }
}

/* mobile */
@media (max-width:500px) {
    .container{
        min-width: 300px;
        max-width: 300px;
    }
    h1,h2,h3,h4, .lg{
        font-size: 23px;
    }
    p, .lead{
        font-size: 14px;
    }
    .btn{
        scale: 0.9;
    }
    .navbar{
        height: 120px;
        padding-bottom: 0;
    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul li {
        align-items: center;
        background-color: rgba(240, 233, 233, 0.085);
    }
    .request{
        width: 270px;
        height: 350px;
        
    }
    .languages .container{
        scale: 0.8;
    }

}